<div>
  <hr />
  <div>
    <ul>
      {{#each posts as |post|}}
        <li>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</li>
        {{#if (eq post.id selectedPost.id)}}
          {{post.body}}
          {{#link-to 'posts'}}Back{{/link-to}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
