<div>
  <hr />
  <div>
    <ul>
      {{#each model as |post|}}
        <li>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</li>
        {{#if (eq post selectedPost)}}
          Testing
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

{{outlet}}

